{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestor de Tareas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="card">
        <h1>📁 Mis Listas</h1>
        
        <form method="POST" action="{% url 'list_index' %}" class="input-group">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Ej: Compra, DAW..." required>
            <button type="submit">Crear</button>
        </form>

        <ul class="item-list">
            {% for lista in listas %}
            <li class="item">
                <a href="{% url 'task_view' lista.id %}" class="item-link">
                    {{ lista.name }}
                </a>
                <a href="{% url 'list_delete' lista.id %}" class="btn-del"><br>Borrar</a>
                <!-- onclick="return confirm('¿Borrar lista?')"-->
            </li>
            {% empty %}
            <p style="text-align:center; color:#6b7280;">No hay listas creadas aún.</p>
            {% endfor %}
        </ul>
    </div>
</body>
</html>